Repository gear-tech/gear, pull requests merged in 2021-12, with the labels that each got.

#486 `node-runner`: add messages from init
  node-runner/src/lib.rs
Labels: A2-mergeoncegreen, D2-node

#487 chore: fix many typos and fmt code
  core-runner/src/ext.rs
  core-runner/src/runner.rs
  core/src/env.rs
  core/src/gas.rs
  core/src/message.rs
  core/src/program.rs
  core/src/storage.rs
  pallets/gear/src/lib.rs
Labels: A2-mergeoncegreen

#490 Add example program that calls `wait` in `init`
  examples/Cargo.lock
  examples/Cargo.toml
  examples/init-wait/Cargo.toml
  examples/init-wait/src/lib.rs
Labels: A2-mergeoncegreen, D4-test

#492 Fix messages processing
  examples/block-info/test_block_info.yaml
  examples/gui-test/src/lib.rs
  examples/meta/src/lib.rs
  gtest/spec/test_async.yaml
  gtest/spec/test_capacitor.yaml
  gtest/spec/test_collector.yaml
  gtest/spec/test_decoder.yaml
  gtest/spec/test_guestbook.yaml
  gtest/spec/test_gui.yaml
  gtest/spec/test_incomplete_async_payloads.yaml
  gtest/spec/test_meta.yaml
  gtest/spec/test_multiping.yaml
  gtest/spec/test_ping.yaml
  gtest/spec/test_rwlock.yaml
  gtest/spec/test_sync_dont_duplicate.yaml
  gtest/spec/test_trap.yaml
  gtest/spec/test_wait.yaml
  gtest/src/runner.rs
  node-runner/src/lib.rs
Labels: A2-mergeoncegreen, D2-node, D4-test

#499 Add mem::forget for returned strings
  gstd/src/macros/export.rs
Labels: A2-mergeoncegreen, D3-gstd

#435 JSON-RPC Tests
  .github/workflows/CI.yaml
  .gitignore
  examples/fib/src/lib.rs
  examples/sum/src/lib.rs
  gtest/spec/test_i32.yaml
  gtest/src/js/package-lock.json
  gtest/src/js/package.json
  rpc-tests/index.js
  rpc-tests/package-lock.json
  rpc-tests/package.json
  rpc-tests/src/index.ts
  rpc-tests/src/interfaces.ts
  rpc-tests/src/ws-test.ts
  rpc-tests/tsconfig.json
  rpc-tests/yarn.lock
  scripts/src/init.sh
Labels: A0-pleasereview, B1-releasenotes, D4-test

#501 Upload build artifacts to Releases
  .github/workflows/CI.yaml
Labels: A0-pleasereview, D5-tooling

#509 Fix build on CI
  common/src/value_tree.rs
Labels: A2-mergeoncegreen, D2-node

#508 now gr_debug in index js prints msg text (not msg mem pointer)
  utils/wasm-proc/metadata-js/index.js
Labels: A2-mergeoncegreen, D5-tooling

#510 Reduce number of log records
  pallets/gear/src/lib.rs
  pallets/usage/src/lib.rs
  rpc-tests/src/index.ts
Labels: A0-pleasereview, D2-node

#516 `gtest`: show logs from backend common and print target with record
  gtest/src/check.rs
Labels: A0-pleasereview, D4-test

#521 Update chain spec
  node/res/staging.json
Labels: A0-pleasereview, D2-node

#520 Add `submit_code` call
  common/src/lib.rs
  common/src/native.rs
  gtest/src/runner.rs
  node-runner/src/ext.rs
  pallets/gear-debug/src/tests.rs
  pallets/gear/src/benchmarking.rs
  pallets/gear/src/lib.rs
  pallets/gear/src/mock.rs
  pallets/gear/src/tests.rs
  pallets/gear/src/weights.rs
Labels: A0-pleasereview, D1-core, D2-node, C1-feature

#488 Provide `program_id()` syscall
  core-backend/common/src/funcs.rs
  core-backend/sandbox/src/env.rs
  core-backend/wasmtime/src/env.rs
  core-runner/src/ext.rs
  core/src/env.rs
  examples/Cargo.lock
  examples/Cargo.toml
  examples/program-id/Cargo.toml
  examples/program-id/src/lib.rs
  gcore/src/exec.rs
  gstd/src/exec.rs
  gtest/spec/test_program_id.yaml
Labels: A0-pleasereview, D1-core, B1-releasenotes

#530 Refactor pallet tests
  common/src/native.rs
  gtest/src/runner.rs
  node-runner/src/ext.rs
  node-runner/src/lib.rs
  pallets/gear-debug/src/tests.rs
  pallets/gear/src/benchmarking.rs
  pallets/gear/src/mock.rs
  pallets/gear/src/tests.rs
Labels: A2-mergeoncegreen, D2-node, C2-refactoring

#538 Add test yaml list argument
  Makefile
  examples/Cargo.lock
  examples/bot/Cargo.toml
  gtest/spec_no_rpc/test_block_info.yaml
  scripts/gear.sh
  scripts/src/build.sh
  scripts/src/test.sh
Labels: A2-mergeoncegreen, D5-tooling

#548 CI: copy cache to tmp
  .github/workflows/CI.yaml
Labels: A0-pleasereview, D5-tooling

#551 Simplify dispatch result
  .github/workflows/CI.yaml
  common/src/lib.rs
  core-processor/src/common.rs
  core-processor/src/executor.rs
  core-processor/src/handler.rs
  core-processor/src/processor.rs
  core/src/gas.rs
  core/src/program.rs
  gtest/src/check.rs
  gtest/src/manager.rs
  node/res/staging.json
  pallets/gear/src/manager.rs
  tests/common/src/lib.rs
  utils/gear-test-cli/src/manager.rs
Labels: A2-mergeoncegreen, D1-core

#558 Cancel previous CI runs
  .github/workflows/CI.yaml
Labels: A2-mergeoncegreen
