Repository gear-tech/gear, pull requests merged in 2021-09, with the labels that each got.

#174 Update substrate
  Cargo.lock
  common/Cargo.toml
  common/src/lib.rs
  examples/meta/Cargo.toml
  gstd/Cargo.toml
  node-rti/Cargo.toml
  node-rti/src/ext.rs
  node/Cargo.toml
  node/src/chain_spec.rs
  node/src/command.rs
  node/src/rpc.rs
  node/src/service.rs
  pallets/gear/Cargo.toml
  pallets/gear/rpc/Cargo.toml
  pallets/gear/rpc/runtime-api/Cargo.toml
  pallets/gear/src/mock.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  utils/gear-test-cli/Cargo.toml
  utils/gear-test-cli/src/command.rs
Labels: A0-pleasereview, D2-node

#175 Configure rustfmt to be more useful
  .github/workflows/CI.yaml
  Makefile
  core-runner/src/builder.rs
  core-runner/src/ext.rs
  core-runner/src/runner.rs
  core-runner/src/util.rs
  core/src/message.rs
  examples/capacitor/src/lib.rs
  examples/collector/src/lib.rs
  examples/decoder/src/lib.rs
  examples/multiping/src/lib.rs
  examples/ping/src/lib.rs
  node-rti/src/ext.rs
  node/src/service.rs
  pallets/gear/src/lib.rs
  rustfmt.toml
  scripts/pre-commit.sh
  tests/btree/build.rs
  tests/btree/src/lib.rs
  tests/common/src/lib.rs
  tests/distributor/build.rs
  tests/distributor/src/lib.rs
  tests/node/build.rs
  tests/node/src/lib.rs
Labels: A0-pleasereview, D5-tooling

#176 Add CI config for documentation deployment
  .github/workflows/docs.yml
  gstd-async/src/lib.rs
  gstd/src/lib.rs
Labels: A0-pleasereview, D5-tooling

#178 Update Cargo.lock on master
  Cargo.lock
Labels: A4-insubstantial

#172 Move panic/oom handlers to gstd
  examples/async/src/lib.rs
  examples/capacitor/src/lib.rs
  examples/chat/Cargo.toml
  examples/chat/bot/src/lib.rs
  examples/chat/room/src/lib.rs
  examples/chat/src/encode.rs
  examples/chat/src/lib.rs
  examples/chat/src/shared.rs
  examples/collector/src/lib.rs
  examples/decoder/src/lib.rs
  examples/fib/src/lib.rs
  examples/mem/src/lib.rs
  examples/meta/Cargo.toml
  examples/meta/src/lib.rs
  examples/minimal/Cargo.toml
  examples/minimal/src/lib.rs
  examples/multiping/src/lib.rs
  examples/panicker/Cargo.toml
  examples/panicker/src/lib.rs
  examples/ping/src/lib.rs
  examples/sum/src/lib.rs
  examples/vec/src/lib.rs
  examples/wait/Cargo.toml
  examples/wait/src/lib.rs
  gstd/src/lib.rs
  tests/btree/src/lib.rs
  tests/distributor/src/lib.rs
  tests/node/src/lib.rs
Labels: A0-pleasereview, D3-gstd

#180 Fix warnings on master
  gstd/src/lib.rs
Labels: D3-gstd, A4-insubstantial

#187 Fix pallet-gear
  pallets/gear/src/lib.rs
  runtime/src/lib.rs
Labels: A0-pleasereview, D2-node, C0-bug

#193 Reduce block time and process queue at the end of a block
  pallets/gear/src/lib.rs
  pallets/gear/src/mock.rs
  pallets/gear/src/tests.rs
  runtime/src/lib.rs
Labels: A1-inprogress, D2-node, B1-releasenotes, C1-feature

#194 Fix build-wasm script for mac
  scripts/build-wasm.sh
Labels: A2-mergeoncegreen, D5-tooling

#195 Remove dequeue limit thing
  pallets/gear/src/lib.rs
  pallets/gear/src/tests.rs
Labels: A0-pleasereview, D2-node

#167 Provide `gstd-meta` library
  Cargo.lock
  Cargo.toml
  examples/meta/Cargo.toml
  examples/meta/src/lib.rs
  gstd-meta/Cargo.toml
  gstd-meta/src/declare.rs
  gstd-meta/src/lib.rs
  gstd-meta/tests/json.rs
  gstd-meta/tests/meta_complex.rs
  gstd-meta/tests/meta_simple.rs
  gtest/spec/test_meta.yaml
  scripts/meta-test.sh
  scripts/pre-commit.sh
  utils/wasm-proc/metadata-js/index.js
  utils/wasm-proc/metadata-js/package-lock.json
  utils/wasm-proc/metadata-js/test.js
  utils/wasm-proc/src/main.rs
Labels: A0-pleasereview, D3-gstd, B1-releasenotes, C1-feature, D5-tooling

#215 Remove message processed thing also
  pallets/gear/src/lib.rs
  pallets/gear/src/tests.rs
Labels: A4-insubstantial

#216 Guestbook program
  examples/Cargo.toml
  examples/guestbook/Cargo.toml
  examples/guestbook/src/lib.rs
  gtest/spec/test_guesbook.yaml
Labels: A2-mergeoncegreen, D4-test

#213 Extend `wasm-proc` util functionality
  Cargo.lock
  utils/wasm-proc/Cargo.toml
  utils/wasm-proc/src/main.rs
Labels: A2-mergeoncegreen, C1-feature, C2-refactoring, D5-tooling

#223 Add test net configuration for node
  node/res/staging.json
  node/src/command.rs
Labels: A0-pleasereview, D2-node

#238 Display program origin in InitSuccess event
  pallets/gear/src/lib.rs
  pallets/gear/src/tests.rs
Labels: A2-mergeoncegreen, D2-node, C1-feature

#247 Deply one rpc
  .github/workflows/CD.yml
  ansible/tasks/docker/docker-compose.yaml.j2
Labels: A2-mergeoncegreen, D5-tooling

#266 Fix standalone tests after upgrading rustc to v1.55
  .github/workflows/CI.yaml
  Cargo.lock
  Makefile
  core/src/message.rs
  gstd-meta/tests/json.rs
  node-rti/src/ext.rs
  rustfmt.toml
  scripts/pre-commit.sh
  tests/btree/Cargo.toml
  tests/btree/src/lib.rs
  tests/common/Cargo.toml
  tests/distributor/Cargo.toml
  tests/distributor/src/lib.rs
  tests/node/Cargo.toml
  tests/node/src/lib.rs
Labels: A0-pleasereview, D4-test

#244 Variable message payload in tests
  .github/workflows/CI.yaml
  Cargo.lock
  examples/meta/src/lib.rs
  gtest/Cargo.toml
  gtest/spec/test_meta.yaml
  gtest/src/check.rs
  gtest/src/js/decode.js
  gtest/src/js/encode.js
  gtest/src/js/mod.rs
  gtest/src/js/package-lock.json
  gtest/src/js/package.json
  gtest/src/lib.rs
  gtest/src/main.rs
  gtest/src/runner.rs
  gtest/src/sample.rs
  scripts/build-wasm.sh
  scripts/fmt.sh
  scripts/meta-test.sh
  scripts/pre-commit.sh
  utils/wasm-proc/metadata-js/test.js
  utils/wasm-proc/src/main.rs
Labels: A2-mergeoncegreen, C1-feature, D4-test, D5-tooling

#276 Fix build on Windows
  .github/workflows/win.yml
  Cargo.lock
  gtest/Cargo.toml
  gtest/src/check.rs
  utils/gear-test-cli/Cargo.toml
Labels: A0-pleasereview, D4-test, D5-tooling

#285 Migrate to self-descriptive substrate v14 metadata
  .github/workflows/CI.yaml
  Cargo.lock
  Cargo.toml
  common/Cargo.toml
  common/src/lib.rs
  common/src/native.rs
  common/src/storage_queue.rs
  core/Cargo.toml
  examples/guestbook/Cargo.toml
  examples/guestbook/src/lib.rs
  examples/meta/Cargo.toml
  examples/meta/src/lib.rs
  gstd-meta/Cargo.toml
  gstd-meta/src/declare.rs
  gstd-meta/src/lib.rs
  gstd-meta/tests/json.rs
  gstd-meta/tests/meta_complex.rs
  gstd-meta/tests/meta_simple.rs
  gstd/Cargo.toml
  gstd/src/bail.rs
  gstd/src/lib.rs
  gstd/src/meta.rs
  gtest/src/js/mod.rs
  gtest/src/js/package-lock.json
  gtest/src/js/package.json
  node-rti/Cargo.toml
  node-rti/src/lib.rs
  node/Cargo.toml
  pallets/gear/Cargo.toml
  pallets/gear/rpc/Cargo.toml
  pallets/gear/rpc/runtime-api/Cargo.toml
  pallets/gear/rpc/runtime-api/src/lib.rs
  pallets/gear/rpc/src/lib.rs
  pallets/gear/src/lib.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
  scripts/build-wasm.sh
  scripts/pre-commit.sh
  utils/wasm-proc/metadata-js/index.js
  utils/wasm-proc/metadata-js/package-lock.json
  utils/wasm-proc/metadata-js/package.json
  utils/wasm-proc/metadata-js/test.js
  utils/wasm-proc/src/main.rs
Labels: A0-pleasereview, D2-node, D3-gstd, C1-feature, C2-refactoring, D4-test, D5-tooling

#289 Fix bug in remove_stale_program extrinsic
  pallets/gear/src/lib.rs
  pallets/gear/src/tests.rs
Labels: A0-pleasereview, D2-node, C0-bug

#283 Update standalone tests common module (#141)
  Cargo.toml
  tests/btree/src/lib.rs
  tests/common/src/lib.rs
  tests/distributor/src/lib.rs
  tests/node/src/lib.rs
Labels: D4-test, A3-gotissues

#265 Enable runtime 'debug' mode
  pallets/gear/src/lib.rs
  pallets/gear/src/tests.rs
Labels: A0-pleasereview, D2-node, C1-feature

#296 Add test for conflicting changes in async/await scenario
  tests/distributor/src/lib.rs
Labels: A2-mergeoncegreen, D4-test

#302 Refactor send sys call processing under the hood
  core-runner/src/ext.rs
  core/src/env.rs
  core/src/message.rs
  examples/async/Cargo.toml
  examples/capacitor/Cargo.toml
  examples/capacitor/src/lib.rs
  examples/collector/Cargo.toml
  examples/collector/src/lib.rs
  examples/panicker/Cargo.toml
  examples/wait/src/lib.rs
  gcore/src/lib.rs
  gcore/src/msg.rs
  gcore/tests/smoke.rs
  gstd-async/src/msg.rs
  gstd/src/msg.rs
Labels: A0-pleasereview, D1-core, D3-gstd, C2-refactoring

#303 Adding docs to gcore and minor refactoring of syscalls
  .github/workflows/docs.yml
  Makefile
  core-backend/src/funcs.rs
  core-backend/src/wasmi/env.rs
  core-backend/src/wasmtime/env.rs
  core-runner/src/ext.rs
  core/src/env.rs
  core/src/message.rs
  examples/capacitor/src/lib.rs
  examples/chat/bot/src/lib.rs
  examples/chat/room/src/lib.rs
  examples/collector/src/lib.rs
  examples/fib/src/lib.rs
  examples/meta/src/lib.rs
  examples/sum/src/lib.rs
  examples/vec/src/lib.rs
  galloc/src/lib.rs
  gcore/src/exec.rs
  gcore/src/general.rs
  gcore/src/lib.rs
  gcore/src/msg.rs
  gstd-async/src/lib.rs
  gstd/src/bail.rs
  gstd/src/msg.rs
  tests/node/src/lib.rs
  utils/wasm-proc/metadata-js/package-lock.json
Labels: A2-mergeoncegreen, D1-core, D3-gstd

#309 Make `guestbook` demo fully working and use it as test
  gtest/spec/test_guesbook.yaml
  gtest/spec/test_guestbook.yaml
  gtest/src/js/mod.rs
  gtest/src/js/package-lock.json
  gtest/src/js/package.json
Labels: A0-pleasereview, C1-feature, C2-refactoring, D4-test, D5-tooling
