Repository gear-tech/gear, pull requests merged in 2021-11, with the labels that each got.

#362 Expand `metadata` macro functionality
  examples/async/src/lib.rs
  examples/guestbook/src/lib.rs
  examples/gui-test/src/lib.rs
  examples/meta/src/lib.rs
  examples/token-vendor/src/lib.rs
  examples/token-vendor/workshop-example/src/lib.rs
  gstd-meta/Cargo.toml
  gstd/src/meta.rs
  gtest/src/check.rs
  gtest/src/js/mod.rs
  gtest/src/js/package-lock.json
  gtest/src/js/package.json
  gtest/src/runner.rs
  utils/wasm-proc/metadata-js/index.js
  utils/wasm-proc/metadata-js/test.js
  utils/wasm-proc/src/main.rs
Labels: A2-mergeoncegreen, D3-gstd, C1-feature

#368 [skip ci] Fix `make test-release`
  Makefile
Labels: C0-bug, D5-tooling

#363 Make wait-list scoped to corresponding program (#129)
  Cargo.lock
  Cargo.toml
  common/src/lib.rs
  common/src/native.rs
  core-runner/src/runner.rs
  core/src/storage.rs
  node-runner/src/ext.rs
  tests/wait_wake/Cargo.toml
  tests/wait_wake/build.rs
  tests/wait_wake/src/lib.rs
Labels: A0-pleasereview, D1-core, D2-node

#376 Update testnet spec
  node/res/staging.json
Labels: A2-mergeoncegreen, D2-node

#377 Fix node warnings
  core-backend/src/funcs.rs
  core-backend/src/lib.rs
  core-backend/src/sandbox/env.rs
  core-backend/src/wasmtime/env.rs
Labels: A2-mergeoncegreen, D1-core

#380 Bump version, update lock and publish json spec
  Cargo.lock
  node/res/staging.json
  runtime/src/lib.rs
Labels: A4-insubstantial

#384 Change allocator git source
  Cargo.lock
  galloc/Cargo.toml
  gcore/Cargo.toml
Labels: A2-mergeoncegreen, C0-bug

#378 Build examples separately and provide node bindings
  Makefile
  node-runner/Cargo.toml
  pallets/gear/rpc/runtime-api/Cargo.toml
  scripts/gear.sh
  scripts/src/build.sh
  scripts/src/check.sh
  scripts/src/clippy.sh
  scripts/src/init.sh
  scripts/src/run.sh
Labels: A2-mergeoncegreen, C1-feature, C2-refactoring, D5-tooling

#382 Refactor core-backend(s)
  Cargo.lock
  Cargo.toml
  core-backend/.gitignore
  core-backend/Cargo.toml
  core-backend/common/Cargo.toml
  core-backend/common/src/funcs.rs
  core-backend/common/src/lib.rs
  core-backend/sandbox/Cargo.toml
  core-backend/sandbox/src/env.rs
  core-backend/sandbox/src/lib.rs
  core-backend/sandbox/src/memory.rs
  core-backend/src/lib.rs
  core-backend/wasmtime/Cargo.toml
  core-backend/wasmtime/src/env.rs
  core-backend/wasmtime/src/lib.rs
  core-backend/wasmtime/src/memory.rs
  core-runner/Cargo.toml
  core-runner/src/builder.rs
  core-runner/src/ext.rs
  core-runner/src/runner.rs
  gtest/Cargo.toml
  gtest/src/runner.rs
  node-runner/Cargo.toml
  node-runner/src/lib.rs
  pallets/gear/Cargo.toml
  pallets/gear/src/lib.rs
  tests/common/Cargo.toml
  tests/common/src/lib.rs
  utils/gear-test-cli/Cargo.toml
Labels: A2-mergeoncegreen, D1-core

#391 Check examples' `Cargo.lock` into git
  examples/.gitignore
  examples/Cargo.lock
Labels: A2-mergeoncegreen, D4-test

#390 Skip vector destruction in vec example, so that two pages stay allocated
  examples/vec/src/lib.rs
  gtest/spec/test_vec.yaml
Labels: A0-pleasereview, D4-test

#385 Add fungible token smart contract with few tests.
  examples/Cargo.lock
  examples/Cargo.toml
  examples/fungible-token/Cargo.toml
  examples/fungible-token/src/lib.rs
  gtest/spec/test_fungible_token.yaml
Labels: A0-pleasereview, D4-test

#388 Asynchronous user signing demo
  examples/Cargo.toml
  examples/async-sign/Cargo.toml
  examples/async-sign/signed_message/Cargo.toml
  examples/async-sign/signed_message/src/lib.rs
  examples/async-sign/src/lib.rs
  examples/async-sign/test_bob/Cargo.toml
  examples/async-sign/test_bob/src/lib.rs
  gtest/spec/test_async-sign.yaml
  gtest/spec/test_signed_message.yaml
Labels: A0-pleasereview, D4-test

#396 Add `exit_code` syscall and prevent runner error handling loop
  core-backend/common/src/funcs.rs
  core-backend/sandbox/src/env.rs
  core-backend/wasmtime/src/env.rs
  core-runner/src/runner.rs
  examples/Cargo.lock
  examples/Cargo.toml
  examples/exit-code/Cargo.toml
  examples/exit-code/src/lib.rs
  examples/panicker/src/lib.rs
  gcore/src/msg.rs
  gstd/src/msg.rs
  gtest/spec/test_exit_code.yaml
Labels: A2-mergeoncegreen, D1-core, D3-gstd, C1-feature, C2-refactoring

#398 Update staging json spec
  node/res/staging.json
Labels: A4-insubstantial

#401 Return `Result` on `send_and_wait_for_reply` according to reply's exit code
  examples/Cargo.lock
  examples/async-sign/src/lib.rs
  examples/async/src/lib.rs
  examples/incomplete_async_payloads/src/lib.rs
  examples/mutex/src/lib.rs
  examples/rwlock/src/lib.rs
  examples/rwlock_write/src/lib.rs
  examples/sync_duplicate/src/lib.rs
  examples/token-vendor/src/lib.rs
  gstd-async/src/lib.rs
  gstd-async/src/msg.rs
  gtest/spec/test_incomplete_async_payloads.yaml
  tests/distributor/src/lib.rs
Labels: A2-mergeoncegreen, D3-gstd, B1-releasenotes

#400 Remove `GasCounter` dyn dispatch
  core-runner/src/ext.rs
  core-runner/src/runner.rs
  core/src/gas.rs
  gtest/src/js/package-lock.json
  gtest/src/js/package.json
Labels: A1-inprogress, D1-core

#402 Use locked cargo build on CI
  .github/workflows/CI.yaml
  scripts/gear.sh
  scripts/src/build.sh
Labels: A2-mergeoncegreen, D5-tooling

#407 Check messages on node's `runtests`
  Makefile
  utils/gear-test-cli/src/command.rs
Labels: A0-pleasereview, C0-bug, D4-test

#408 Remove Instance unwrap in sandbox
  core-backend/sandbox/src/env.rs
Labels: A2-mergeoncegreen, D1-core

#406 Refactor finding program's meta for custom payload
  gtest/src/check.rs
Labels: A0-pleasereview, C2-refactoring, D4-test

#411 Add a syscall to get the block timestamp in programs
  Cargo.lock
  core-backend/common/src/funcs.rs
  core-backend/sandbox/src/env.rs
  core-backend/wasmtime/src/env.rs
  core-runner/src/builder.rs
  core-runner/src/ext.rs
  core-runner/src/lib.rs
  core-runner/src/runner.rs
  core/src/env.rs
  examples/Cargo.lock
  examples/Cargo.toml
  examples/block-info/Cargo.toml
  examples/block-info/src/lib.rs
  examples/block-info/test_block_info.yaml
  gcore/src/exec.rs
  gtest/src/runner.rs
  node-runner/src/lib.rs
  pallets/gear/Cargo.toml
  pallets/gear/src/lib.rs
  pallets/gear/src/mock.rs
  tests/common/src/lib.rs
Labels: A0-pleasereview, D2-node, D3-gstd, B1-releasenotes

#410 Add state meta requests
  examples/meta/src/lib.rs
  gstd/src/meta.rs
  utils/wasm-proc/metadata-js/index.js
  utils/wasm-proc/metadata-js/test.js
  utils/wasm-proc/src/main.rs
Labels: A2-mergeoncegreen, D3-gstd

#419 Refactor `Runner` to depend on a single Storage trait
  .gitignore
  core-runner/src/builder.rs
  core-runner/src/runner.rs
  core/src/storage.rs
  gtest/src/check.rs
  gtest/src/main.rs
  gtest/src/runner.rs
  node-runner/src/lib.rs
  tests/common/src/lib.rs
  utils/gear-test-cli/src/command.rs
Labels: A2-mergeoncegreen, D1-core

#414 Add messaging negative tests
  Cargo.lock
  gcore/src/general.rs
  gstd/src/msg.rs
  tests/btree/src/lib.rs
  tests/distributor/src/lib.rs
  tests/gas_limit/src/lib.rs
  tests/messages/Cargo.toml
  tests/messages/build.rs
  tests/messages/src/lib.rs
  tests/node/src/lib.rs
Labels: A2-mergeoncegreen, D4-test

#423 Add parameter for meta-state
  examples/meta/src/lib.rs
  utils/wasm-proc/metadata-js/test.js
Labels: A0-pleasereview

#426 Fix: Insert to mailbox init program log
  pallets/gear/src/lib.rs
Labels: A2-mergeoncegreen, D2-node, C0-bug

#418 Refactor message way to waiting list
  core-runner/src/builder.rs
  core-runner/src/ext.rs
  core-runner/src/runner.rs
  core/src/message.rs
  core/src/storage.rs
  gtest/src/check.rs
  gtest/src/runner.rs
  node-runner/src/ext.rs
  node-runner/src/lib.rs
  tests/common/src/lib.rs
  utils/gear-test-cli/src/command.rs
Labels: A2-mergeoncegreen, D1-core

#415 Asynchrounous multisig program
  examples/Cargo.lock
  examples/Cargo.toml
  examples/async-multisig/Cargo.toml
  examples/async-multisig/src/lib.rs
  examples/async-sign/test_bob/Cargo.toml
  examples/async-sign/test_bob/src/lib.rs
  examples/bot/Cargo.toml
  examples/bot/src/lib.rs
  gtest/spec/test_async-multisig.yaml
  gtest/spec/test_async-sign.yaml
Labels: A2-mergeoncegreen, D4-test

#437 Change async-sign according to async-multisig
  examples/Cargo.lock
  examples/Cargo.toml
  examples/async-sign/Cargo.toml
  examples/async-sign/signed_message/Cargo.toml
  examples/async-sign/signed_message/src/lib.rs
  examples/async-sign/src/lib.rs
  gtest/spec/test_async-sign.yaml
Labels: A2-mergeoncegreen, D4-test

#438 Update json spec to accommodate new spec_name
  node/res/staging.json
Labels: A2-mergeoncegreen, D2-node

#445 Add forth validator to the CD
  .github/workflows/CD.yml
  .github/workflows/Purge.yml
Labels: A2-mergeoncegreen, D5-tooling

#439 Update to the new CI runners
  .github/workflows/CI.yaml
  gtest/spec/test_signed_message.yaml
  gtest/spec/test_workshop.yaml
  gtest/src/js/package-lock.json
  gtest/src/js/package.json
Labels: A1-inprogress

#450 Pass handling message directly to runner
  core-runner/src/runner.rs
  gtest/src/check.rs
  gtest/src/runner.rs
  gtest/src/sample.rs
  node-runner/src/lib.rs
  pallets/gear/src/tests.rs
  tests/common/src/lib.rs
  tests/messages/src/lib.rs
  utils/gear-test-cli/src/command.rs
Labels: A2-mergeoncegreen, D1-core

#449 Add docs to program initialization related code
  core-runner/src/runner.rs
  gtest/src/check.rs
  gtest/src/js/mod.rs
  gtest/src/lib.rs
  gtest/src/runner.rs
  gtest/src/sample.rs
Labels: A2-mergeoncegreen, D1-core, D4-test

#431 Value tree structures for (future) gas spending algo
  common/src/lib.rs
  common/src/value_tree.rs
Labels: A2-mergeoncegreen, D2-node, B1-releasenotes

#448 Fix demo gas and switch to new version allocator
  Cargo.lock
  core-runner/src/runner.rs
  examples/Cargo.lock
  examples/async/src/lib.rs
  examples/chat/bot/src/lib.rs
  examples/chat/room/src/lib.rs
  examples/fungible-token/Cargo.toml
  examples/incomplete_async_payloads/src/lib.rs
  examples/mutex/src/lib.rs
  examples/ping/src/lib.rs
  examples/rwlock_write/src/lib.rs
  examples/sync_duplicate/src/lib.rs
  examples/token-vendor/Cargo.toml
  examples/token-vendor/src/lib.rs
  examples/token-vendor/workshop-example/Cargo.toml
  examples/token-vendor/workshop-example/src/lib.rs
  galloc/Cargo.toml
  gcore/Cargo.toml
  gstd/Cargo.toml
  gtest/spec/test_capacitor.yaml
  gtest/spec/test_chat.yaml
  gtest/spec/test_vec.yaml
  gtest/src/js/package-lock.json
  gtest/src/js/package.json
  tests/distributor/src/lib.rs
Labels: A2-mergeoncegreen, B1-releasenotes

#457 Update node/README.md with test net instructions
  node/README.md
Labels: A2-mergeoncegreen

#452 Remove `MessageQueue` abstraction from `Storage`
  core-runner/src/builder.rs
  core-runner/src/runner.rs
  core/src/storage.rs
  gtest/spec/test_chat.yaml
  gtest/spec/test_gui.yaml
  gtest/spec/test_meta.yaml
  gtest/src/check.rs
  gtest/src/runner.rs
  node-runner/src/ext.rs
  node-runner/src/lib.rs
  tests/common/src/lib.rs
  utils/gear-test-cli/src/command.rs
Labels: A2-mergeoncegreen, D1-core

#459 Move queue and wait list processing to gear pallet
  common/src/lib.rs
  node-runner/src/lib.rs
  pallets/gear/src/lib.rs
Labels: A0-pleasereview, D2-node, C2-refactoring

#461 Remove `handled` field from `ExecutionReport`
  common/src/native.rs
  core-runner/src/runner.rs
  core/src/storage.rs
  gtest/src/runner.rs
  node-runner/src/lib.rs
  pallets/gear-debug/src/tests.rs
  pallets/gear/src/lib.rs
  pallets/gear/src/tests.rs
  tests/common/src/lib.rs
Labels: A0-pleasereview, D1-core, D2-node

#455 `gtest`: run tests in parallel
  .github/workflows/CI.yaml
  Cargo.lock
  core-backend/wasmtime/Cargo.toml
  core-runner/src/runner.rs
  core/src/storage.rs
  gtest/Cargo.toml
  gtest/src/check.rs
  gtest/src/main.rs
  gtest/src/runner.rs
  node-runner/src/ext.rs
  utils/gear-test-cli/src/command.rs
Labels: A0-pleasereview, D4-test

#466 [skip ci] Update README about M1
  node/README.md
Labels: A4-insubstantial

#465 Remove `Runner::message_queue` field
  core-runner/src/builder.rs
  core-runner/src/runner.rs
  gtest/spec/test_chat.yaml
  node-runner/src/lib.rs
Labels: A2-mergeoncegreen, D4-test, D5-tooling

#470 Fix Gear crates docs
  .github/workflows/docs.yml
  README.md
  core-backend/sandbox/src/env.rs
  core-backend/wasmtime/src/env.rs
  core-runner/src/runner.rs
  core/src/lib.rs
  examples/token-vendor/workshop-example/src/lib.rs
  galloc/src/lib.rs
  gcore/src/general.rs
  gcore/src/lib.rs
  gcore/src/msg.rs
  gstd/src/lib.rs
  gtest/src/lib.rs
  gtest/src/runner.rs
  images/logo.svg
  pallets/gear/src/lib.rs
Labels: A4-insubstantial

#471 gtest: use VecDeque instead of Vec for queue of messages
  gtest/spec/test_ping.yaml
  gtest/src/check.rs
  gtest/src/runner.rs
Labels: A2-mergeoncegreen, D4-test, D5-tooling

#472 Add minimum Rust compiler version to gear-node
  node/Cargo.toml
Labels: A4-insubstantial

#473 Check outcome for Trap after init_program in gtest
  examples/sync_duplicate/src/lib.rs
  gtest/spec/test_fungible_token.yaml
  gtest/src/runner.rs
Labels: A2-mergeoncegreen, D4-test, D5-tooling

#451 Remove gas left and use gas value-tree for node
  core-backend/common/src/funcs.rs
  core-backend/sandbox/src/env.rs
  core-backend/wasmtime/src/env.rs
  core-runner/src/ext.rs
  core-runner/src/runner.rs
  core/src/env.rs
  core/src/message.rs
  examples/wait/src/lib.rs
  gcore/src/exec.rs
  gstd/src/async_runtime/signals.rs
  gstd/src/exec.rs
  gstd/src/lock/mutex.rs
  gstd/src/lock/rwlock.rs
  node-runner/src/lib.rs
  pallets/gear/src/lib.rs
  pallets/gear/src/tests.rs
  tests/common/src/lib.rs
  tests/gas_limit/src/lib.rs
  tests/node/src/lib.rs
  tests/wait_wake/src/lib.rs
Labels: A2-mergeoncegreen, D1-core, D2-node, D3-gstd

#479 Add standalone tests to pallet tests
  Cargo.lock
  pallets/gear/Cargo.toml
  pallets/gear/src/tests.rs
  tests/distributor/src/lib.rs
Labels: A0-pleasereview, D4-test

#482 `gtest`: add verbose mode
  gtest/src/check.rs
  gtest/src/main.rs
  utils/gear-test-cli/src/command.rs
Labels: A0-pleasereview, D4-test

#483 Use formula in tests and also fix gas charge
  common/src/value_tree.rs
  pallets/gear/src/lib.rs
  pallets/gear/src/tests.rs
Labels: A2-mergeoncegreen, D2-node
