Repository gear-tech/gear, pull requests merged in 2021-08, with the labels that each got.

#93 Use gas_limit and value for messages in rpc-tests
  examples/async/src/lib.rs
  rpc-tests/.eslintrc.js
  rpc-tests/index.js
  rpc-tests/package-lock.json
  rpc-tests/package.json
  test/code/test_chat.yaml
  test/code/test_collector.yaml
  test/code/test_condensator.yaml
  test/code/test_i32.yaml
  test/code/test_mem.yaml
  test/code/test_trap.yaml
  test/code/test_vec.yaml
  test/code/test_wait.yaml
Labels: A0-pleasereview, C2-refactoring, D4-test

#99 Add some trap explanations in the runner
  core-runner/src/runner.rs
  core/src/env.rs
  core/src/message.rs
  node-rti/src/lib.rs
  test/src/runner.rs
Labels: A0-pleasereview, D1-core

#101 Avoid expect in gear-core
  core-runner/src/runner.rs
  core/src/message.rs
  core/src/program.rs
  core/src/storage.rs
  core/src/util.rs
Labels: A0-pleasereview, D1-core, C2-refactoring

#103 Add licese preamble to source files
  common/src/storage_queue.rs
  core-backend/src/funcs.rs
  core-backend/src/lib.rs
  core-backend/src/wasmi/env.rs
  core-backend/src/wasmi/memory.rs
  core-backend/src/wasmi/mod.rs
  core-backend/src/wasmtime/env.rs
  core-backend/src/wasmtime/memory.rs
  core-backend/src/wasmtime/mod.rs
  core-runner/src/lib.rs
  core-runner/src/runner.rs
  core/src/env.rs
  core/src/gas.rs
  core/src/lib.rs
  core/src/memory.rs
  core/src/message.rs
  core/src/program.rs
  core/src/storage.rs
  core/src/util.rs
  gstd-async/src/lib.rs
  gstd-async/src/msg.rs
  gstd-async/src/waker.rs
  gstd-async/tests/send_reply.rs
  gstd/src/bail.rs
  gstd/src/general.rs
  gstd/src/lib.rs
  gstd/src/msg.rs
  gstd/src/prelude.rs
  gstd/src/utils.rs
  gstd/tests/bail.rs
  gstd/tests/smoke.rs
  pallets/gear/rpc/runtime-api/src/lib.rs
  pallets/gear/rpc/src/lib.rs
  test/src/check.rs
  test/src/lib.rs
  test/src/main.rs
  test/src/runner.rs
  test/src/sample.rs
  utils/wasm-proc/src/main.rs
Labels: A4-insubstantial

#104 Update minimal example for copy-paste
  examples/minimal/Cargo.toml
Labels: A4-insubstantial

#105 [skip ci] Update README.md with technical paper link
  README.md
Labels: A4-insubstantial

#106 Add waiting messages list
  common/src/lib.rs
  common/src/native.rs
  core-runner/src/runner.rs
  core/src/storage.rs
  examples/mem/src/lib.rs
  node-rti/src/ext.rs
  node-rti/src/runner.rs
  test/src/check.rs
  test/src/main.rs
  test/src/runner.rs
  utils/gear-test-cli/src/command.rs
Labels: A2-mergeoncegreen, D1-core

#111 Set default binary for the repo
  Cargo.toml
Labels: A4-insubstantial

#112 [skip ci] Make docker dir
  Cargo.toml
  docker-compose.yml
  docker/Dockerfile
  docker/build.sh
  docker/docker-compose-dev.yml
  docker/docker-compose-local.yml
Labels: A2-mergeoncegreen, D5-tooling

#113 Run tests for wasmi backend
  .github/workflows/master.yml
  core-backend/src/funcs.rs
  core-backend/src/wasmtime/env.rs
Labels: A2-mergeoncegreen, D4-test

#115 Update Cargo.toml to fix master
  Cargo.toml
Labels: A2-mergeoncegreen, A4-insubstantial

#118 Reorder backend functions to facilitate the code perception
  core-backend/src/funcs.rs
  core-backend/src/wasmi/env.rs
  core-backend/src/wasmtime/env.rs
Labels: A2-mergeoncegreen, C2-refactoring

#117 Refactor queue_message/queue_reply in the runner
  core-runner/src/runner.rs
  node-rti/src/lib.rs
  test/src/runner.rs
Labels: A0-pleasereview, D1-core

#121 Refactor syscalls wrappers by removing repeating pieces
  core-backend/src/funcs.rs
  core-runner/src/runner.rs
  core/src/env.rs
Labels: A2-mergeoncegreen, D1-core, C2-refactoring

#116 gas_available syscall
  Cargo.toml
  core-backend/src/funcs.rs
  core-backend/src/wasmi/env.rs
  core-backend/src/wasmtime/env.rs
  core-runner/src/runner.rs
  core/src/env.rs
  examples/sum/src/lib.rs
  gstd/src/msg.rs
Labels: A2-mergeoncegreen, D1-core, D3-gstd, C1-feature

#119 Add btest for all-in-one integration testing
  Cargo.lock
  Cargo.toml
  btest/Cargo.toml
  btest/build.rs
  btest/src/lib.rs
  core/src/storage.rs
Labels: A2-mergeoncegreen, D4-test

#123 Move test->gtest, code->spec directories
  .github/workflows/master.yml
  Cargo.toml
  Makefile
  gtest/Cargo.toml
  gtest/README.md
  gtest/spec/test_async.yaml
  gtest/spec/test_chat.yaml
  gtest/spec/test_collector.yaml
  gtest/spec/test_condensator.yaml
  gtest/spec/test_i32.yaml
  gtest/spec/test_mem.yaml
  gtest/spec/test_ping.yaml
  gtest/spec/test_trap.yaml
  gtest/spec/test_vec.yaml
  gtest/spec/test_wait.yaml
  gtest/src/check.rs
  gtest/src/lib.rs
  gtest/src/main.rs
  gtest/src/runner.rs
  gtest/src/sample.rs
  rpc-tests/README.md
  scripts/test.sh
  utils/gear-test-cli/Cargo.toml
Labels: A2-mergeoncegreen, D4-test, A4-insubstantial

#124 Make 'tests' directory, and split common test framework
  Cargo.lock
  Cargo.toml
  btest/Cargo.toml
  tests/btree/Cargo.toml
  tests/btree/build.rs
  tests/btree/src/lib.rs
  tests/common/Cargo.toml
  tests/common/src/lib.rs
Labels: A4-insubstantial

#122 Rework wait-wake API for smart-contracts
  common/src/lib.rs
  common/src/native.rs
  core-backend/src/funcs.rs
  core-backend/src/wasmi/env.rs
  core-backend/src/wasmtime/env.rs
  core-runner/src/runner.rs
  core/src/env.rs
  core/src/message.rs
  core/src/storage.rs
  examples/wait/src/lib.rs
  gstd/src/msg.rs
  gtest/spec/test_wait.yaml
  gtest/src/main.rs
  gtest/src/runner.rs
  node-rti/src/ext.rs
  utils/gear-test-cli/src/command.rs
Labels: A0-pleasereview, D1-core, D3-gstd, C1-feature

#110 Log message processing events
  Cargo.lock
  common/src/lib.rs
  core-runner/src/runner.rs
  gtest/src/runner.rs
  node-rti/src/lib.rs
  pallets/gear/Cargo.toml
  pallets/gear/src/lib.rs
  pallets/gear/src/tests.rs
  tests/btree/src/lib.rs
  tests/common/src/lib.rs
Labels: A2-mergeoncegreen, D2-node, C1-feature

#85 Gas charge for memory allocations
  core-runner/src/runner.rs
  pallets/gear/src/tests.rs
Labels: A0-pleasereview, C1-feature

#134 Fix master
  core-runner/src/runner.rs
  pallets/gear/src/tests.rs
Labels: C0-bug

#135 Check memory pages in rpc-tests
  rpc-tests/index.js
Labels: A2-mergeoncegreen, D4-test

#136 [skip ci] Update README.md
  README.md
Labels: A4-insubstantial

#131 Change sending messages returning new id
  core-backend/src/funcs.rs
  core-backend/src/wasmi/env.rs
  core-backend/src/wasmtime/env.rs
  core-runner/src/runner.rs
  core/src/env.rs
  core/src/message.rs
  gstd-async/tests/send_reply.rs
  gstd/src/general.rs
  gstd/src/msg.rs
  gstd/tests/smoke.rs
  pallets/gear/src/tests.rs
Labels: A2-mergeoncegreen, D1-core, D3-gstd

#132 Remove unused code from storage
  common/src/lib.rs
Labels: A2-mergeoncegreen, D2-node, C1-feature

#137 Runner builder
  core-runner/src/builder.rs
  core-runner/src/lib.rs
  core-runner/src/runner.rs
Labels: A0-pleasereview, C1-feature, D4-test

#109 Add different allocation checks to gtest
  Cargo.lock
  Makefile
  common/src/lib.rs
  gtest/spec/test_condensator.yaml
  gtest/spec/test_mem.yaml
  gtest/spec/test_vec.yaml
  gtest/src/check.rs
  gtest/src/runner.rs
  gtest/src/sample.rs
  node-rti/Cargo.toml
  node-rti/src/ext.rs
  utils/gear-test-cli/src/command.rs
Labels: A2-mergeoncegreen, D4-test

#144 Refactor gas charges when accounting further messages
  core-backend/src/funcs.rs
  core-backend/src/wasmi/env.rs
  core-backend/src/wasmtime/env.rs
  core-runner/src/runner.rs
  core/src/env.rs
  core/src/gas.rs
  gstd/src/msg.rs
  gstd/tests/smoke.rs
  node-rti/src/lib.rs
  pallets/gear/src/lib.rs
  pallets/gear/src/tests.rs
Labels: A2-mergeoncegreen, D1-core

#146 Remove rpc tests from CI
  .github/workflows/master.yml
Labels: A2-mergeoncegreen, D5-tooling

#142 Move meta data to send_commit
  core-backend/src/funcs.rs
  core-backend/src/wasmi/env.rs
  core-backend/src/wasmtime/env.rs
  core-runner/src/runner.rs
  core/src/env.rs
  core/src/message.rs
  examples/Cargo.toml
  examples/multiping/Cargo.toml
  examples/multiping/src/lib.rs
  gstd/src/general.rs
  gstd/src/msg.rs
  gtest/spec/test_multiping.yaml
Labels: A0-pleasereview, D1-core, D3-gstd, C2-refactoring

#149 [skip-ci] Update README somewhat
  README.md
Labels: A4-insubstantial

#145 Rework gstd-async to be based on wait/wake
  core-backend/src/funcs.rs
  examples/async/src/lib.rs
  gstd-async/src/lib.rs
  gstd-async/src/msg.rs
  gstd-async/tests/send_reply.rs
  gtest/spec/test_async.yaml
  gtest/src/main.rs
  gtest/src/runner.rs
Labels: A2-mergeoncegreen, D3-gstd

#120 Demo showing the functionality of sending in parts
  examples/Cargo.toml
  examples/decoder/Cargo.toml
  examples/decoder/src/lib.rs
  gtest/spec/test_decoder.yaml
Labels: A2-mergeoncegreen, C1-feature, D4-test

#151 Rename `condensator` example to `capacitor`
  examples/Cargo.toml
  examples/capacitor/Cargo.toml
  examples/capacitor/src/lib.rs
  gtest/spec/test_capacitor.yaml
Labels: D4-test, A4-insubstantial

#152 Fix cargo profile settings
  Cargo.toml
  gstd/Cargo.toml
  gtest/Cargo.toml
Labels: C2-refactoring, A4-insubstantial

#154 split core-runner, add Log
  core-runner/src/ext.rs
  core-runner/src/lib.rs
  core-runner/src/runner.rs
  core-runner/src/util.rs
  core/src/storage.rs
  gtest/src/runner.rs
  node-rti/src/ext.rs
  node-rti/src/lib.rs
  node-rti/src/runner.rs
  tests/btree/src/lib.rs
  tests/common/src/lib.rs
  tests/node/src/lib.rs
  utils/gear-test-cli/src/command.rs
Labels: A0-pleasereview, D1-core, C2-refactoring

#143 Add benchmarks to pallet-gear
  Cargo.lock
  common/src/lib.rs
  pallets/gear/Cargo.toml
  pallets/gear/src/benchmarking.rs
  pallets/gear/src/lib.rs
  runtime/Cargo.toml
  runtime/src/lib.rs
Labels: A0-pleasereview, D2-node

#155 Build examples separately to prevent feature join
  examples/fib/src/lib.rs
  examples/panicker/Cargo.toml
  examples/panicker/src/lib.rs
  examples/sum/src/lib.rs
  examples/vec/src/lib.rs
  scripts/build-wasm.sh
Labels: A2-mergeoncegreen, D5-tooling

#166 Specify resolver version for each workspace
  Cargo.toml
  examples/Cargo.toml
Labels: A0-pleasereview, D5-tooling

#165 Store program pages in storage
  common/src/lib.rs
  common/src/native.rs
  node-rti/src/ext.rs
  rpc-tests/index.js
  utils/gear-test-cli/src/command.rs
Labels: A0-pleasereview, D2-node, C2-refactoring

#171 Add dependabot config
  .github/Dependabot
Labels: A4-insubstantial
