Repository gear-tech/gear, pull requests merged in 2021-10, with the labels that each got.

#311 Fix async loop in gstd-async
  Cargo.lock
  examples/sync_duplicate/Cargo.toml
  gstd-async/Cargo.toml
  gstd-async/macro/src/lib.rs
  gstd-async/src/lib.rs
  gstd-async/src/msg.rs
  gtest/spec/test_sync_dont_duplicate.yaml
  tests/distributor/src/lib.rs
Labels: A2-mergeoncegreen, D3-gstd

#310 Add gas limit standalone test
  Cargo.lock
  Cargo.toml
  tests/btree/src/lib.rs
  tests/common/src/lib.rs
  tests/distributor/src/lib.rs
  tests/gas_limit/Cargo.toml
  tests/gas_limit/build.rs
  tests/gas_limit/src/lib.rs
  tests/node/src/lib.rs
Labels: A2-mergeoncegreen, D4-test

#313 Roll back changes in state if extrinsic throws
  pallets/gear/src/lib.rs
  pallets/gear/src/mock.rs
  pallets/gear/src/tests.rs
Labels: A2-mergeoncegreen, D2-node

#316 Disambiguate features in `gstd`
  examples/capacitor/src/lib.rs
  examples/collector/src/lib.rs
  examples/decoder/Cargo.toml
  examples/decoder/src/lib.rs
  examples/guestbook/src/lib.rs
  examples/meta/src/lib.rs
  gstd/Cargo.toml
  gstd/src/bail.rs
  gstd/src/lib.rs
  gstd/src/msg.rs
  gstd/src/prelude.rs
  gstd/tests/bail.rs
  gtest/src/js/mod.rs
  utils/wasm-proc/metadata-js/package-lock.json
  utils/wasm-proc/metadata-js/test.js
Labels: A2-mergeoncegreen, D3-gstd

#315 Update metadata-js
  examples/async/Cargo.toml
  examples/async/src/lib.rs
  scripts/meta-test.sh
  utils/wasm-proc/metadata-js/index.js
  utils/wasm-proc/metadata-js/package-lock.json
  utils/wasm-proc/metadata-js/package.json
  utils/wasm-proc/metadata-js/test.js
Labels: A2-mergeoncegreen, D5-tooling

#318 Fix wasm-proc
  utils/wasm-proc/src/main.rs
Labels: A0-pleasereview, C0-bug, D5-tooling

#308 Make reply work by parts
  core-backend/src/funcs.rs
  core-backend/src/wasmi/env.rs
  core-backend/src/wasmtime/env.rs
  core-runner/src/ext.rs
  core/src/env.rs
  core/src/message.rs
  examples/Cargo.toml
  examples/async/src/lib.rs
  examples/incomplete_async_payloads/Cargo.toml
  examples/incomplete_async_payloads/src/lib.rs
  examples/multiping/src/lib.rs
  gcore/src/msg.rs
  gstd/src/msg.rs
  gtest/spec/test_incomplete_async_payloads.yaml
  tests/node/src/lib.rs
Labels: A2-mergeoncegreen, D1-core, D3-gstd
